<<<<<<< HEAD
@media screen and (max-width: 500px) {
    input {
        width: 75%;
        font-size: 25px;
    }
    button {
        font-size: 25px;
    }
    
}
.task {
    background: gray;
}
=======
.task {
    background:gray;
}
>>>>>>> fe277fcee38e1b953a813f52fa2d0a9fceacf0f6
